# Compiled class file
*.class

# Log file
*.log
*.*~

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin/
/build/
/dist/

.project
.classpath
.settings
libraries.htm
mtent12.txt
